@import "~antd/dist/antd.css";

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 872px;
}

.grid-container {
  display: grid;
  width: 80%;
  grid-template:
    "tournament time time date"
    "host score score guest"
    "host score score guest"
    "hgoals free free ggoals";
  grid-template-rows: 60px 1fr 1fr minmax(60px, auto);
  grid-template-columns: 2.2fr 1fr 1fr 2.2fr;
  grid-gap: 0px;
  background-color: #2196f3;
  padding: 1px;
}
.grid-container__game-date {
  grid-area: date;
}
.grid-container__elapsed-time {
  grid-area: time;
}
.grid-container__tournament {
  grid-area: tournament;
}
.grid-container__game-date,
.grid-container__tournament,
.grid-container__elapsed-time {
  font-weight: bold;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container__host-team {
  grid-area: host;
}
.grid-container__score {
  grid-area: score;
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid darkblue;
}
.grid-container__guest-team {
  grid-area: guest;
}
.grid-container__guest-team,
.grid-container__host-team {
  font-weight: bold;
  font-size: 2rem;
  border-top: 1px solid darkblue;
}
.grid-container__host-goal-list {
  grid-area: hgoals;
  border-top: 1px solid darkblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 160px;
}
.grid-container__guest-goal-list {
  grid-area: ggoals;
  border-top: 1px solid darkblue;
  font-weight: bold;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 160px;
}
.grid-container__free {
  grid-area: free;
  border-top: 1px solid darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-team-container {
  display: grid;
  grid-template:
    "emblem emblem"
    "name  name"
    ". .";
  grid-template-rows: 8fr 2fr 1fr;
  grid-template-columns: 1fr 4fr;
  grid-gap: 0px;
  background-color: #2196f3;
}
.grid-team-container__emblem {
  grid-area: emblem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.grid-team-container__name {
  grid-area: name;
  display: flex;
  align-items: center;
  justify-content: center;
}
